<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Spirit Alchemy</title>
  </head>
  <body>
    <div>
      <p class="title">Notes from the Spirit Alchemist</p>
    </div>
    <br />
    <div class="second-title">
      <p>
        Welcome! Take a look around and feel free to try out recipes from my
        notes below.
      </p>
    </div>
    <!-- Recipe's Go Below Here-->
    <!-- The Seaside -->
    <div class="recipe-list recipe-card">
      <div class="recipe-card-title">
        <p>The Seaside</p>
      </div>
      <div class="recipe-ingredients">
        <ul>
          <li>40 mL XO brandy</li>
          <li>30 mL Cointreau (triple-sec)</li>
          <li>30 mL sweet red vermouth</li>
          <li>5 dashes orange bitters</li>
          <li>135 mL Grapefruit Soda (do not use infused water)</li>
        </ul>
      </div>
      <p class="recipe-card-title">Instructions</p>
      <ol>
        <li>
          Combine brandy, cointreau, vermouth, and bitters in a shaker. Shake
          lightly until chilled. Do not overshake.
        </li>
        <li>Strain into a tall tumbler with new large ice cubes.</li>
        <li>Add grapefruit soda and stir lightly to mix.</li>
        <li>Garnish with an orange slice if desired.</li>
      </ol>
      <div>
        <p>
          Notes: This recipe was created using brandy, but bourbon or whiskey
          can be substituted in quite well. Bourbon produces a smoother flavor
          and an overall milder cocktail. Other brands of triple sec will work
          alright but the cointreau will give the best flavor of the drink. The
          recipe was created with "Q" grapefruit soda and is the recommended
          brand to utilize, however, other brands will work. Please just make
          sure to use a true soda.
        </p>
      </div>
    </div>

  </body>
</html>
