<!-- {{Title}} -->
    <div class="recipe-list recipe-card">
      <div class="recipe-card-title">
        <p>{{TitleRecipe}}</p>
      </div>
      <div class="recipe-ingredients">
        <ul>
          <li>{{Ingredient}}</li>
        </ul>
      </div>
      <p class="recipe-card-title">{{TitleInstructions}}</p>
      <ol>
        <li>{{Instruction}}</li>
      </ol>
      <div>
        <p>
         {{Notes}}
        </p>
      </div>
    </div>